/* CONTAINER TITLE */
.container-3-title {
    grid-column: 4 / 13;
    grid-row: 7 / 8;
    margin-bottom: -20px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.transactions-table-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vmin;
    flex-shrink: 0;
    margin-right: 10px;
    padding-left: 20px;
}

.which-account {
    font-size: 1.5vmin;
    margin-right: auto;
    color: #6C757D;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.filter-text {
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 1.5vmin;
    color: #6C757D;
}

.filter-list-icon {
    font-size: 24px;
    color: #6C757D;
}

.filter-list-icon:hover {
    cursor: pointer;
}


/* CONTAINER 3 */
.container-3 {
    grid-column: 4 / 13;
    grid-row: 8 / -1;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: auto;
    height: calc(100% - 20px);
}


/* TRANSACTIONS TABLE */
.transactions-table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-table-body {
    padding: 50px;
    margin-left: 70px;
    overflow: scroll;
    max-height: calc(100% - 120px);
}


/* TRANSACTIONS ROW */
tr {
    height: 60px;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}

tr:hover {
    background-color: #F0F8FF;
    cursor: pointer;
}

td .material-symbols-sharp {
    font-size: 40px;
}

.table-data {
    padding: 20px;
    font-size: 2vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.table-data:first-child {
  width: 40%;
}

.table-data:nth-child(2) {
  width: 20%;
}

.table-data:last-child {
  width: 30%;
}

p {
    color: #495057;
    font-size: 1vmin;
    transition: color 0.5s ease-in-out;
}

tr:hover p {
    color: #6C757D;
}

/* Scrollbar Styles */
.container-3::-webkit-scrollbar {
  width: 5px;
  height: 30px;
}

.container-3::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-3::-webkit-scrollbar-thumb {
  background-color: #F0F8FF;
  border-radius: 5px;
}

.container-3::-webkit-scrollbar-thumb:hover {
  background-color: #F0F8FF;
}
