/* CONTAINER TITLE */
.container-3-title {
    grid-column: 4 / 13;
    grid-row: 7 / 8;
    margin-bottom: -20px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.transactions-table-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vmin;
    flex-shrink: 0;
    margin-right: 10px;
    padding-left: 20px;
}

.which-account {
    font-size: 1.5vmin;
    margin-right: auto;
    color: #6C757D;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-text {
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 1.5vmin;
    color: #6C757D;
}

.filter-list-icon {
    font-size: 24px;
    color: #6C757D;
}


/* CONTAINER 3 */
.container-3 {
    grid-column: 4 / 13;
    grid-row: 8 / -1;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;

}


/* TRANSACTIONS TABLE */
.transactions-table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-table-body {
    padding: 50px;
    margin-left: 70px;
}


/* TRANSACTIONS ROW */
tr {
    height: 60px;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}

tr:hover {
    background-color: #F0F8FF;
}

td .material-symbols-sharp {
    vertical-align: middle;
    padding: 20px;
    font-size: 40px;
}

.table-data {
    padding: 20px;
    font-size: 2vmin;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis;
      display: flex; /* Add this line */
      align-items: center;
}

p {
    color: #495057;
    font-size: 1vmin;
    transition: color 0.5s ease-in-out;
}

tr:hover p {
    transition: color 0.5s ease-in-out;
    color: #6C757D;
}